
body {
	font-family: sans-serif;
}
.bg-main-image {
height: 100vh;	
background-image: url('bg-masthead.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.75;
}


.logo {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.light-gray {
	color: rgba(255, 255, 255, 0.7) !important ;
}

.nav-ul-font-size{
    font-size: 18px;
    font-weight: 600;
}
.main-h1 {
	    margin-top: 10rem;
}
.hr-divider {
	    border: 2px solid #f13704;
    width: 3rem;
/*    border-radius: 10px;*/
}
.head-button {
	background-color: #ff3a04;
	border-radius: 25px;
	padding: 0.9rem;
	font-weight: bold;
}

.section1 {
background-color: #fe724c !important;
}
.section1-head {
	font-size: 30px;
    font-weight: 600;
}
.hr-divider-white {
	border: 2px solid white;
    width: 3rem;
}
.section1-btn {
	background-color: white;
	border-radius: 25px;
	padding: 0.9rem;
	font-weight: bold;
}
 .para {
 	font-size: 18px;
 }
.pd {
	 padding: 6rem;
}
.footer {
	background-color: #989b9e;
}
@media (max-width: 320px){
.bg-main-image {
	height: 100%;
background-image: url('bg-masthead.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.75;
}

.main-h1 {
     margin-top: 0rem; 
}
.pd {
    padding: 1rem;
}
.logo {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
}

@media (min-width: 321px) and (max-width: 480px){
.bg-main-image {
	height: 100%;
background-image: url('bg-masthead.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.75;
}

.main-h1 {
     margin-top: 0rem; 
}
.pd {
    padding: 1rem;
}
}


@media (min-width: 481px) and (max-width: 768px){
.bg-main-image {
	height: 100%;
background-image: url('bg-masthead.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.75;
}

.main-h1 {
     margin-top: 0rem; 
}
}
@media (min-width: 769px) and (max-width: 1024px){
	.bg-main-image {
	height: 100%;
background-image: url('bg-masthead.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.75;
}

.main-h1 {
     margin-top: 0rem; 
}

}
@media (min-width: 1025px) and (max-width: 1200px){
	.bg-main-image {
	height: 100%;
background-image: url('bg-masthead.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.75;
}

.main-h1 {
     margin-top: 0rem; 
}

}
@media (min-width: 1201px){
	.bg-main-image {
	height: 100%;
background-image: url('bg-masthead.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.75;
}

.main-h1 {
     margin-top: 0rem; 
}

}